# Hexo Configuration
## Docs: http://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: IT草根
subtitle: WangXu's 代码馆 BLOG
keywords: IT草根, 代码馆, http://codepub.cn/
description: 志不强者智不达，言不信者行不果
author: Wang Xu
email: wangx89@126.com
language: zh-Hans
timezone:

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
## http://shijiebei2009.github.io
url: http://www.codepub.cn/
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  tab_replace:

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 15
pagination_dir: page

# Extensions
Plugins: 
- hexo-generator-feed
- hexo-generator-sitemap
# http://hexo.io/plugins/
## Themes: http://hexo.io/themes/
theme: next
stylus: 
  compress: true
#Feed Atom
feed:
 type: atom
 path: atom.xml
 limit: 20
#SiteMap
sitemap:
 path: sitemap.xml

baidusitemap:
path: baidusitemap.xml
search:
  path: search.xml
  field: post
  format: html
  limit: 10000
# Deployment
## Docs: http://hexo.io/docs/deployment.html
deploy:
  type: git
  #repository: git@github.com:shijiebei2009/shijiebei2009.github.io.git
  #branch: master
  repo: 
    github: git@github.com:shijiebei2009/shijiebei2009.github.io.git,master
    coding: git@git.coding.net:codepub/codepub.git,master
  #message: gitcafe successfully push done!
  #type: git
  #repo: git@github.com:shijiebei2009/shijiebei2009.github.io.git
  #branch: master
  #message: github successfully push done!
symbols_count_time:
  symbols: true
  time: true
  total_symbols: true
  total_time: true
filter_optimize:
  enable: true
  # remove static resource query string
  #   - like `?v=1.0.0`
  remove_query_string: true
  css:
    enable: true
    # use a script block to load css elements dynamically
    delivery: true
    # make specific css content inline into the html page
    #   - only support the full path
    #   - default is ['css/main.css']
    inlines:
    excludes:
  js:
    # bundle loaded js file into the one
    bundle: true
    excludes: